# Lab 07: Data Cleaning & Data Transformation

In this lab, you will:

- Import "raw" data and clean the imported data
- Transform the data

**Deadline: 11:59 PM Tuesday 10/26/2021**

***

## 1. Importing Data

In this lab, we will investigate the U.S. Small Business Administration (SBA) loan dataset. The dataset details can be found on [Kaggle](https://www.kaggle.com/mirbektoktogaraev/should-this-loan-be-approved-or-denied).

- Make sure you take a close look at the list of variables!
- You will need to download the dataset to your local computer, then use the local file to load the data to Python.
- **DO NOT STORE THE DATA ANYWHERE INSIDE YOUR NETID FOLDER!!!**
    - This dataset is too big for GitHub and you won't be able to push to the remote repo.

Import the data to a DataFrame named `sba_loan`.

In [5]:
import pandas as pd
sba_loan = pd.read_csv('SBAnational.csv')
sba_loan.head(3)

C:\Users\admin\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,...,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
0,1000014003,ABC HOBBYCRAFT,EVANSVILLE,IN,47711,FIFTH THIRD BANK,OH,451120,28-Feb-97,1997,...,N,Y,NaN,28-Feb-99,"$60,000.00",$0.00,P I F,$0.00,"$60,000.00","$48,000.00"
1,1000024006,LANDMARK BAR & GRILLE (THE),NEW PARIS,IN,46526,1ST SOURCE BANK,IN,722410,28-Feb-97,1997,...,N,Y,NaN,31-May-97,"$40,000.00",$0.00,P I F,$0.00,"$40,000.00","$32,000.00"
2,1000034009,"WHITLOCK DDS, TODD M.",BLOOMINGTON,IN,47401,GRANT COUNTY STATE BANK,IN,621210,28-Feb-97,1997,...,N,N,NaN,31-Dec-97,"$287,000.00",$0.00,P I F,$0.00,"$287,000.00","$215,250.00"

### Exercise 1.1

Take a look at the data types of each column and compare it with the corresponding variable description. For each column, decide if you need to modify the data type or keep it as it is. Include your reasoning.

*Note: There are many possible correct answers here. Your reasoning is what matters.*

#### Your Answer:

*Please use bullet point!*

In [11]:
sba_loan.dtypes

LoanNr_ChkDgt          int64
Name                  object
City                  object
State                 object
Zip                    int64
Bank                  object
BankState             object
NAICS                  int64
ApprovalDate          object
ApprovalFY            object
Term                   int64
NoEmp                  int64
NewExist             float64
CreateJob              int64
RetainedJob            int64
FranchiseCode          int64
UrbanRural             int64
RevLineCr             object
LowDoc                object
ChgOffDate            object
DisbursementDate      object
DisbursementGross     object
BalanceGross          object
MIS_Status            object
ChgOffPrinGr          object
GrAppv                object
SBA_Appv              object
dtype: object

- LoanNr_ChkDgt: Keep it as int64, since it only contains number used as primary key. 
- Name: Keep it as object, since it contains text and does not have clear category pattern. 
- City: Keep it as object, since it contains text and does not have clear category pattern. 
- State: Keep it as object, since it contains text and does not have clear category pattern. 
- Zip:  Keep it as int64, since it only contains integer. 
- Bank: Keep it as object, since it contains text and does not have clear category pattern. 
- BankState: Keep it as object, since it contains text and does not have clear category pattern. 
- NAICS: Keep it as int64, since it only contains integer. 
- ApprovalDate: Modify it to datetime. Because it contains date-time data. 
- ApprovalFY: Keep it as object, since it contains text and does not have clear category pattern. 
- Term: Keep it as int64, since it only contains integer. 
- NoEmp: Keep it as int64, since it only contains integer. 
- NewExist: Keep it as float64, since it only contains integer. 
- CreateJob: Keep it as int64, since it only contains integer. 
- RetainedJob: Keep it as int64, since it only contains integer. 
- FranchiseCode: Keep it as int64, since it only contains integer. 
- UrbanRural: Keep it as int64, since it only contains integer. 
- RevLineCr: Modify it to category. Because it only contains Y for Yes and N for No and has a very clear category pattern.
- LowDoc: Modify it to category. Because it only contains Y for Yes and N for No and has a very clear category pattern.
- ChgOffDate: Modify it to datetime. Because it contains date-time data. 
- DisbursementDate: Modify it to datetime. Because it contains date-time data. 
- DisbursementGross: Modify it to float64, since it will be easier to compare value and all its data can be convert to float by deleting the `$` before numbers.
- BalanceGross: Modify it to float64, since it will be easier to compare value and all its data can be convert to float by deleting the `$` before numbers.
- MIS_Status: Modify it to category. Because it only contains PIF for paid in full and CHGOFF for loan status charged off and has a very clear category pattern.
- ChgOffPrinGr: Modify it to float64, since it will be easier to compare value and all its data can be convert to float by deleting the `$` before numbers.
- GrAppv: Modify it to float64, since it will be easier to compare value and all its data can be convert to float by deleting the `$` before numbers.
- SBA_Appv: Modify it to float64, since it will be easier to compare value and all its data can be convert to float by deleting the `$` before numbers.

### Exercise 1.2

Based on your answer on 1.1, perform any needed modification.

In [24]:
# column ApprovalDate
sba_loan['ApprovalDate']=  pd.to_datetime(sba_loan['ApprovalDate'])

In [29]:
# column RevLineCr
sba_loan['RevLineCr'] = sba_loan['RevLineCr'].astype('category')

In [31]:
# column LowDoc
sba_loan['LowDoc'] = sba_loan['LowDoc'].astype('category')

In [32]:
# column ChgOffDate
sba_loan['ChgOffDate']=  pd.to_datetime(sba_loan['ChgOffDate'])

In [33]:
# column DisbursementDate
sba_loan['DisbursementDate']=  pd.to_datetime(sba_loan['DisbursementDate'])

In [37]:
# column DisbursementGross
sba_loan['DisbursementGross'] = sba_loan['DisbursementGross'].replace('[\$,]', '', regex=True).astype('float64')

In [38]:
# column BalanceGross
sba_loan['BalanceGross'] = sba_loan['BalanceGross'].replace('[\$,]', '', regex=True).astype('float64')

In [39]:
# column MIS_Status
sba_loan['MIS_Status'] = sba_loan['MIS_Status'].astype('category')

In [40]:
# column ChgOffPrinGr
sba_loan['ChgOffPrinGr'] = sba_loan['ChgOffPrinGr'].replace('[\$,]', '', regex=True).astype('float64')

In [41]:
# column GrAppv
sba_loan['GrAppv'] = sba_loan['GrAppv'].replace('[\$,]', '', regex=True).astype('float64')

In [42]:
# column ChgOffPrinGr
sba_loan['ChgOffPrinGr'] = sba_loan['ChgOffPrinGr'].replace('[\$,]', '', regex=True).astype('float64')

In [45]:
# column SBA_Appv
sba_loan['SBA_Appv'] = sba_loan['SBA_Appv'].replace('[\$,]', '', regex=True).astype('float64')

In [46]:
sba_loan.dtypes

LoanNr_ChkDgt                 int64
Name                         object
City                         object
State                        object
Zip                           int64
Bank                         object
BankState                    object
NAICS                         int64
ApprovalDate         datetime64[ns]
ApprovalFY                   object
Term                          int64
NoEmp                         int64
NewExist                    float64
CreateJob                     int64
RetainedJob                   int64
FranchiseCode                 int64
UrbanRural                    int64
RevLineCr                  category
LowDoc                     category
ChgOffDate           datetime64[ns]
DisbursementDate     datetime64[ns]
DisbursementGross           float64
BalanceGross                float64
MIS_Status                 category
ChgOffPrinGr                float64
GrAppv                      float64
SBA_Appv                    float64
dtype: object

### Exercise 1.3

Identify the columns with missing data.

In [52]:
sba_loan.isnull().any(axis=0)

LoanNr_ChkDgt        False
Name                  True
City                  True
State                 True
Zip                  False
Bank                  True
BankState             True
NAICS                False
ApprovalDate         False
ApprovalFY           False
Term                 False
NoEmp                False
NewExist              True
CreateJob            False
RetainedJob          False
FranchiseCode        False
UrbanRural           False
RevLineCr             True
LowDoc                True
ChgOffDate            True
DisbursementDate      True
DisbursementGross    False
BalanceGross         False
MIS_Status            True
ChgOffPrinGr         False
GrAppv               False
SBA_Appv             False
dtype: bool

In [53]:
sba_loan.columns[sba_loan.isnull().any()]

Index(['Name', 'City', 'State', 'Bank', 'BankState', 'NewExist', 'RevLineCr',
       'LowDoc', 'ChgOffDate', 'DisbursementDate', 'MIS_Status'],
      dtype='object')

***

## 2. Data Transformation

### Exercise 2.1

If you have not removed the dollar sign and change data type of `int64` or `float64` of the following columns in Exercise 1.2, then please do so here!

- `DisbursementGross`
- `BalanceGross`
- `ChgOffPrinGr`
- `SBA_Appv`

In [ ]:
# your code here

### Exercise 2.2

Create a new column named `Industry`. Use the first 2 digits of NAICS (if provided) to identify the industry for each observation.

For example, the first observation's NAICS is 451120. The first two digits are 45, so the value for this observation in the `Industry` column is `Retail trade` (see the table provided on Kaggle).

**Notes: The use of loops is not allowed in this exercise. Vectorized string functions such as `str.func_name()` are not allowed either (since it has not been covered in this course, we will learn it in future weeks).**

In [84]:
string = "11 Agriculture, forestry, fishing and hunting.\
21 Mining, quarrying, and oil and gas extraction.\
22 Utilities.\
23 Construction.\
31 Manufacturing.\
32 Manufacturing.\
33 Manufacturing.\
42 Wholesale trade.\
44 Retail trade.\
45 Retail trade.\
48 Transportation and warehousing.\
49 Transportation and warehousing.\
51 Information.\
52 Finance and insurance.\
53 Real estate and rental and leasing.\
54 Professional, scientific, and technical services.\
55 Management of companies and enterprises.\
56 Administrative and support and waste management and remediation services.\
61 Educational services.\
62 Health care and social assistance.\
71 Arts, entertainment, and recreation.\
72 Accommodation and food services.\
81 Other services (except public administration).\
92 Public administration"

In [94]:
dic = dict([item.split(' ', 1) for item in string.split('.')])

In [95]:
dic

{'11': 'Agriculture, forestry, fishing and hunting',
 '21': 'Mining, quarrying, and oil and gas extraction',
 '22': 'Utilities',
 '23': 'Construction',
 '31': 'Manufacturing',
 '32': 'Manufacturing',
 '33': 'Manufacturing',
 '42': 'Wholesale trade',
 '44': 'Retail trade',
 '45': 'Retail trade',
 '48': 'Transportation and warehousing',
 '49': 'Transportation and warehousing',
 '51': 'Information',
 '52': 'Finance and insurance',
 '53': 'Real estate and rental and leasing',
 '54': 'Professional, scientific, and technical services',
 '55': 'Management of companies and enterprises',
 '56': 'Administrative and support and waste management and remediation services',
 '61': 'Educational services',
 '62': 'Health care and social assistance',
 '71': 'Arts, entertainment, and recreation',
 '72': 'Accommodation and food services',
 '81': 'Other services (except public administration)',
 '92': 'Public administration'}

In [91]:
# your code here
columns = list(sba_loan.columns)

def f(x):
    try:
        x['Industry'] = dic[str(x['NAICS'])[:2]]
    except:
        a = 0
    return x

sba_loan = sba_loan.apply(f, axis = 1)
sba_loan = sba_loan[columns + ['Industry']]

In [92]:
sba_loan

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,...,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv,Industry
0,1000014003,ABC HOBBYCRAFT,EVANSVILLE,IN,47711,FIFTH THIRD BANK,OH,451120,1997-02-28,1997,...,Y,NaT,1999-02-28,60000.0,0.0,P I F,0.0,60000.0,48000.0,Retail trade
1,1000024006,LANDMARK BAR & GRILLE (THE),NEW PARIS,IN,46526,1ST SOURCE BANK,IN,722410,1997-02-28,1997,...,Y,NaT,1997-05-31,40000.0,0.0,P I F,0.0,40000.0,32000.0,Accommodation and food services
2,1000034009,"WHITLOCK DDS, TODD M.",BLOOMINGTON,IN,47401,GRANT COUNTY STATE BANK,IN,621210,1997-02-28,1997,...,N,NaT,1997-12-31,287000.0,0.0,P I F,0.0,287000.0,215250.0,Health care and social assistance
3,1000044001,"BIG BUCKS PAWN & JEWELRY, LLC",BROKEN ARROW,OK,74012,1ST NATL BK & TR CO OF BROKEN,OK,0,1997-02-28,1997,...,Y,NaT,1997-06-30,35000.0,0.0,P I F,0.0,35000.0,28000.0,NaN
4,1000054004,"ANASTASIA CONFECTIONS, INC.",ORLANDO,FL,32801,FLORIDA BUS. DEVEL CORP,FL,0,1997-02-28,1997,...,N,NaT,1997-05-14,229000.0,0.0,P I F,0.0,229000.0,229000.0,NaN
5,1000084002,"B&T SCREW MACHINE COMPANY, INC",PLAINVILLE,CT,6062,"TD BANK, NATIONAL ASSOCIATION",DE,332721,1997-02-28,1997,...,N,NaT,1997-06-30,517000.0,0.0,P I F,0.0,517000.0,387750.0,Manufacturing
6,1000093009,MIDDLE ATLANTIC SPORTS CO INC,UNION,NJ,7083,WELLS FARGO BANK NATL ASSOC,SD,0,1980-06-02,1980,...,N,1991-06-24,1980-07-22,600000.0,0.0,CHGOFF,208959.0,600000.0,499998.0,NaN
7,1000094005,WEAVER PRODUCTS,SUMMERFIELD,FL,34491,REGIONS BANK,AL,811118,1997-02-28,1997,...,Y,NaT,1998-06-30,45000.0,0.0,P I F,0.0,45000.0,36000.0,Other services (except public administration)
8,1000104006,TURTLE BEACH INN,PORT SAINT JOE,FL,32456,CENTENNIAL BANK,FL,721310,1997-02-28,1997,...,N,NaT,1997-07-31,305000.0,0.0,P I F,0.0,305000.0,228750.0,Accommodation and food services
9,1000124001,INTEXT BUILDING SYS LLC,GLASTONBURY,CT,6073,WEBSTER BANK NATL ASSOC,CT,0,1997-02-28,1997,...,Y,NaT,1997-04-30,70000.0,0.0,P I F,0.0,70000.0,56000.0,NaN
10,1000134004,COMMERCIAL TRUCKING MAINTENANC,CHARLOTTE,NC,28256,SUNTRUST BANK,GA,811111,1997-02-28,1997,...,Y,NaT,1998-02-23,70000.0,0.0,P I F,0.0,70000.0,56000.0,Other services (except public administration)
11,1000144007,PROFESSIONAL ELEVATOR SERVICES,CHICAGO,IL,60605,BANK OF AMERICA NATL ASSOC,OR,235950,1997-02-28,1997,...,N,NaT,1997-11-30,150000.0,0.0,P I F,0.0,300000.0,225000.0,Construction
12,1000146010,CARVEL,APEX,NC,27502,STEARNS BK NATL ASSOC,MN,445299,2006-02-07,2006,...,N,NaT,2006-03-31,253400.0,0.0,P I F,0.0,253400.0,190050.0,Retail trade
13,1000154010,"ORCHARD CAFE & BAKERY, INC.",SLATERSVILLE,RI,2876,CITIZENS BANK NATL ASSOC,RI,0,1997-02-28,1997,...,N,NaT,1997-05-31,370000.0,0.0,P I F,0.0,370000.0,277500.0,NaN
14,1000214004,EBC INVESTMENTS LLC,WINSTON-SALEM,NC,27106,NORTHWEST PIEDMONT DEVEL CORPO,NC,0,1997-02-28,1997,...,N,NaT,1997-12-17,225000.0,0.0,P I F,0.0,225000.0,225000.0,NaN
15,1000244002,"ENVIRONMENTAL ROOFING SYSTEMS,",OKLAHOMA CITY,OK,73112,BANK OF AMERICA NATL ASSOC,NC,421330,1997-02-28,1997,...,N,NaT,1997-09-30,350000.0,0.0,P I F,0.0,350000.0,262500.0,Wholesale trade
16,1000254005,ARK MAMAGEMENT ENTERPRISES INC,MIDLAND,TX,79701,WELLS FARGO BANK NATL ASSOC,TX,0,1997-02-28,1997,...,Y,NaT,1997-06-30,70000.0,0.0,P I F,0.0,70000.0,56000.0,NaN
17,1000264008,"FAIRFAX COURT SUBWAY, INC.",CENTREVILLE,VA,20120,BANK OF AMERICA NATL ASSOC,MD,0,1997-02-28,1997,...,Y,NaT,1997-07-31,100000.0,0.0,P I F,0.0,100000.0,80000.0,NaN
18,1000284003,FANTASTIC SAMS,PLANO,TX,75093,NEWTEK SMALL BUS. FINANCE INC.,NY,0,1997-02-28,1997,...,Y,NaT,1997-05-31,57500.0,0.0,P I F,0.0,57500.0,46000.0,NaN
19,1000294006,SIR GOONY'S GOLF,KNOXVILLE,TN,37922,CITIZENS NATIONAL BANK,TN,0,1997-02-28,1997,...,Y,NaT,1998-05-31,50000.0,0.0,P I F,0.0,50000.0,40000.0,NaN
20,1000324002,ECONOLODGE OF DUMAS,DUMAS,TX,79029,"BUSINESS LOAN CENTER, LLC",SC,0,1997-02-28,1997,...,N,NaT,1997-04-30,615000.0,0.0,P I F,0.0,615000.0,461250.0,NaN
21,1000344008,"YOUNG ACHIEVERS PRESCHOOL, INC",CORAL SPRINGS,FL,33065,BANESCO USA,FL,624410,1997-02-28,1997,...,N,NaT,1997-08-31,70000.0,0.0,P I F,0.0,70000.0,56000.0,Health care and social assistance
22,1000394001,NICOLES RESTAURANT,JOHNSTON,RI,2919,BANK OF AMERICA NATL ASSOC,RI,0,1997-02-28,1997,...,N,NaT,1998-03-31,75000.0,0.0,P I F,0.0,75000.0,56250.0,NaN
23,1000434000,"TRIANGLE MACHINE & MFG., INC.",EULESS,TX,76040,"FIRST BANK TEXAS, SSB",TX,0,1997-02-28,1997,...,N,NaT,1997-04-30,1250000.0,0.0,P I F,0.0,1250000.0,937500.0,NaN
24,1000446006,SUBWAY,LITTLE ROCK,AR,72223,HOPE FCU,MS,722211,2006-02-07,2006,...,N,NaT,2006-04-30,137300.0,0.0,P I F,0.0,137300.0,116705.0,Accommodation and food services
25,1000474001,DEE'S CORNER BAIT & TACKLE,SAINT PETER,MN,56082,WELLS FARGO BANK NATL ASSOC,MN,451110,1997-02-28,1997,...,N,NaT,1997-04-30,39500.0,0.0,P I F,0.0,39500.0,29625.0,Retail trade
26,1000484004,"C & S TRANSIT, INC.",INDEPENDENCE,MO,64055,BANK OF AMERICA NATL ASSOC,NC,0,1997-02-28,1997,...,N,NaT,1998-05-31,50000.0,0.0,P I F,0.0,50000.0,25000.0,NaN
27,1000504008,HUNTERSBROOK STABLE,MARSHFIELD,MA,2050,ROCKLAND TRUST COMPANY,MA,0,1997-02-28,1997,...,Y,NaT,1997-07-31,75000.0,0.0,P I F,0.0,75000.0,60000.0,NaN
28,1000506000,WEYLAND CORPORATION,CAMARILLO,CA,93010,WELLS FARGO BANK NATL ASSOC,SD,611110,2006-02-07,2006,...,N,NaT,2006-02-28,438541.0,0.0,P I F,0.0,100000.0,50000.0,Educational services
29,1000514000,"SCROOGE'S SPIRIT, INC.",ANDERSON,SC,29621,CERTIFIED DEVEL CORP OF SO. CA,SC,445310,1997-02-28,1997,...,N,NaT,1998-01-14,291000.0,0.0,P I F,0.0,291000.0,291000.0,Retail trade
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
899134,9995083010,RUSHING'S GROCERY,LAURINBURG,NC,28352,WELLS FARGO BANK NATL ASSOC,SD,0,1997-02-27,1997,...,N,NaT,1997-03-31,25455.0,0.0,P I F,0.0,20000.0,10000.0,NaN
899135,9995103003,WILLIAMS & WILLMAN LINE PAINT,KITTANNING,PA,16201,"PNC BANK, NATIONAL ASSOCIATION",DE,235210,1997-02-27,1997,...,N,NaT,1997-06-30,353000.0,0.0,P I F,0.0,353000.0,264750.0,Construction
899136,9995113006,NORTH ALABAMA OUTDOORS,HUNTSVILLE,AL,35802,REGIONS BANK,TN,451110,1997-02-27,1997,...,Y,NaT,1997-04-30,75000.0,0.0,P I F,0.0,75000.0,60000.0,Retail trade
899137,9995123009,RW COMMUNICATIONS,OWINGS MILLS,MD,21117,REGAL BANK & TRUST,MD,0,1997-02-27,1997,...,Y,NaT,1997-08-31,100000.0,0.0,P I F,0.0,100000.0,80000.0,NaN
899138,9995143004,MR. GOODCENTS,OVERLAND PARK,KS,66212,METCALF BANK,KS,0,1997-02-27,1997,...,Y,2001-05-29,1997-05-31,100000.0,0.0,CHGOFF,78494.0,100000.0,80000.0,NaN
899139,9995153007,E-HAULS 4 ALL,CLINTON,UT,84015,WELLS FARGO BANK NATL ASSOC,SD,0,1997-02-27,1997,...,Y,NaT,1997-03-31,40000.0,0.0,P I F,0.0,40000.0,32000.0,NaN
899140,9995163010,TWIN CITIES SCHWINN,YUBA CITY,CA,95991,UMPQUA BANK,CA,451110,1997-02-27,1997,...,Y,NaT,1997-04-30,85000.0,0.0,P I F,0.0,85000.0,68000.0,Retail trade
899141,9995173002,LITTLE PEOPLE'S LEARNING CTR.,COLLEGE PARK,GA,30349,GE CAP. SMALL BUS. FINAN CORP,TX,624410,1997-02-27,1997,...,N,NaT,1997-03-31,1086300.0,0.0,P I F,0.0,1086300.0,749547.0,Health care and social assistance
899142,9995203009,"IMAK ENTERPRISES, INC.",HOUSTON,TX,77036,EAST WEST BANK,TX,0,1997-02-27,1997,...,N,NaT,1997-07-31,718000.0,0.0,P I F,0.0,718000.0,538500.0,NaN
899143,9995213001,CITY CONSTRUCTION CORPORATION,MARLTON,NJ,8053,BANCO POPULAR NORTH AMERICA,NJ,235610,1997-02-27,1997,...,N,2000-09-19,1997-05-31,150000.0,0.0,CHGOFF,124847.0,150000.0,112500.0,Construction
899144,9995223004,"THE CHESAPEAKE GROUP, INC.",BALTIMORE,MD,21244,WELLS FARGO BANK NATL ASSOC,SD,0,1997-02-27,1997,...,N,NaT,1997-03-31,25000.0,0.0,P I F,0.0,25000.0,12500.0,NaN
899145,9995233007,"M L B CONSTRUCTION, INC.",ELLICOTT,MD,21043,WELLS FARGO BANK NATL ASSOC,CA,233210,1997-02-27,1997,...,N,NaT,1997-03-31,25000.0,0.0,P I F,0.0,25000.0,12500.0,Construction
899146,9995263005,HILL AND SONS INC.,OAKLAND,CA,94603,MORTGAGE CAP. DEVEL CORP,CA,323111,1997-02-27,1997,...,N,NaT,1997-08-13,189000.0,0.0,P I F,0.0,189000.0,189000.0,Manufacturing
899147,9995343005,WYNDEHAVEN TERRACE BANQUET FAC,HOUSTON,TX,77069,WELLS FARGO BANK NATL ASSOC,TX,0,1997-02-27,1997,...,N,NaT,1997-05-31,15000.0,0.0,P I F,0.0,15000.0,11250.0,NaN
899148,9995353008,FRANKIE'S CHICAGO STYLE PIZZA,MAPLE GROVE,MN,55369,WELLS FARGO BANK NATL ASSOC,SD,0,1997-02-27,1997,...,N,NaT,1997-03-31,100000.0,0.0,P I F,0.0,100000.0,80000.0,NaN
899149,9995373003,"KRISTA R. BOLINE, D.C.",EDINA,MN,55424,WELLS FARGO BANK NATL ASSOC,SD,621310,1997-02-27,1997,...,N,NaT,1997-03-31,169000.0,0.0,P I F,0.0,169000.0,126750.0,Health care and social assistance
899150,9995383006,SHARON HATFIELD & KENNETH CHIP,CHARLESTON,SC,29412,BANK OF AMERICA NATL ASSOC,MD,114210,1997-02-27,1997,...,N,NaT,1998-07-31,45000.0,0.0,P I F,0.0,45000.0,22500.0,"Agriculture, forestry, fishing and hunting"
899151,9995393009,"FUTURE CONTRACTING SERVICES, I",DALLAS,PA,18612,"PNC BANK, NATIONAL ASSOCIATION",PA,0,1997-02-27,1997,...,N,NaT,2000-10-31,80000.0,0.0,P I F,0.0,80000.0,40000.0,NaN
899152,9995403010,D D MUDD,IDAHO FALLS,ID,83405,BANK OF IDAHO,ID,0,1997-02-27,1997,...,Y,NaT,1997-03-31,38000.0,0.0,P I F,0.0,38000.0,30400.0,NaN
899153,9995413002,NORTH SHORE FLORAL,WOODBURY,NY,11797,FLUSHING BANK,NY,0,1997-02-27,1997,...,N,2004-07-07,1997-05-31,142000.0,0.0,CHGOFF,0.0,142000.0,106500.0,NaN
899154,9995423005,"LITWIN LIVERY SERVICES, INC.",CAMPBELL,OH,44405,JPMORGAN CHASE BANK NATL ASSOC,IL,0,1997-02-27,1997,...,N,NaT,1997-09-30,10000.0,0.0,P I F,0.0,10000.0,5000.0,NaN
899155,9995453003,"FUTURE LEADERS CENTER, INC.",SO. OZONE PARK,NY,11420,FLUSHING BANK,NY,624410,1997-02-27,1997,...,N,NaT,1997-06-30,123000.0,0.0,P I F,0.0,128000.0,96000.0,Health care and social assistance
899156,9995473009,"FABRICATORS STEEL, INC.",BALTIMORE,MD,21224,BANK OF AMERICA NATL ASSOC,MD,332431,1997-02-27,1997,...,N,NaT,1997-06-30,50000.0,0.0,P I F,0.0,50000.0,25000.0,Manufacturing
899157,9995493004,PULLTARPS MFG.,EL CAJON,CA,92020,U.S. BANK NATIONAL ASSOCIATION,CA,314912,1997-02-27,1997,...,N,NaT,1997-03-31,200000.0,0.0,P I F,0.0,200000.0,150000.0,Manufacturing
899158,9995563001,SHADES WINDOW TINTING AUTO ALA,IRVING,TX,75062,LOANS FROM OLD CLOSED LENDERS,DC,0,1997-02-27,1997,...,Y,NaT,1997-06-30,79000.0,0.0,P I F,0.0,79000.0,63200.0,NaN
899159,9995573004,FABRIC FARMS,UPPER ARLINGTON,OH,43221,JPMORGAN CHASE BANK NATL ASSOC,IL,451120,1997-02-27,1997,...,N,NaT,1997-09-30,70000.0,0.0,P I F,0.0,70000.0,56000.0,Retail trade
899160,9995603000,FABRIC FARMS,COLUMBUS,OH,43221,JPMORGAN CHASE BANK NATL ASSOC,IL,451130,1997-02-27,1997,...,N,NaT,1997-10-31,85000.0,0.0,P I F,0.0,85000.0,42500.0,Retail trade
899161,9995613003,"RADCO MANUFACTURING CO.,INC.",SANTA MARIA,CA,93455,"RABOBANK, NATIONAL ASSOCIATION",CA,332321,1997-02-27,1997,...,N,NaT,1997-09-30,300000.0,0.0,P I F,0.0,300000.0,225000.0,Manufacturing
899162,9995973006,"MARUTAMA HAWAII, INC.",HONOLULU,HI,96830,BANK OF HAWAII,HI,0,1997-02-27,1997,...,Y,2000-03-08,1997-03-31,75000.0,0.0,CHGOFF,46383.0,75000.0,60000.0,NaN
899163,9996003010,PACIFIC TRADEWINDS FAN & LIGHT,KAILUA,HI,96734,CENTRAL PACIFIC BANK,HI,0,1997-02-27,1997,...,N,NaT,1997-05-31,30000.0,0.0,P I F,0.0,30000.0,24000.0,NaN

### Exercise 2.3 (bonus)

If you have not changed the data type of the `ApprovalDate` and the `ChgOffDate` columns to `datetime64` in Exercise 1.2, then please do so! The information provided [here](https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html) might be helpful!

In [93]:
# your code here

***

## Submit Your Work

You're almost done -- congratulations!

You need to do a few more things:

1. Save your work.  To do this, create a **notebook checkpoint** by using the menu within the notebook to go **File -> Save and Checkpoint**

2. Click **File** -> **Close and Halt** to close this notebook.

3. Click **Logout** on Jupyter to return your terminal back to the command prompt.

4. Follow the assignment instructions to submit this assignment.